#inicio{
    height: 400px;
    background-image: url(https://unsplash.com/photos/08bOYnH_r_E/download?force=true&w=1920);
}

#seccion-dietas li{
    display: inline-block;
    margin: 5px;
    border: solid black 1px;
    padding: 5px;
}